<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>神奇的float</title>
	<style type="text/css" media="screen">
		*{
			margin:  0;
			padding: 0;
		}
		.float{
			height: 200px;
			float: left;
			color: #fff;
		}
		.red{
			background-color: #f00;
		}
		.green{
			background-color: #0f0;
		}
		.blue{
			background-color: #00f;
		}
		/* 清除浮动 */
		.clearfix{
			clear: both;
			zoom: 1;
		}
		/* 图片向左浮动，文字围绕在右边 */
		.float-text img{
			float: left;
			margin-right: 10px;
		}
	</style>
</head>
<body>
	<div>
		<div class="float red">
			<h3>红色DIV</h3>
		</div>
		<div class="float green">
			<h3>绿色DIV</h3>
		</div>
		<div class="float blue">
			<h3>蓝色DIV</h3>
		</div>
		<div class="clearfix"></div>
	</div>
	<div>
		<h1>文字浮动</h1>
		<div class="float-text">
			<img src="http://himg2.huanqiu.com/attachment2010/2017/0316/20170316094817857.jpg" alt="">
			连日来，中共中央总书记、国家主席、中央军委主席习近平分别参加十二届全国人大五次会议上海、辽宁、四川、新疆、解放军代表团审议，看望出席全国政协十二届五次会议的政协委员并参加联组讨论。
	　　从十二届一次会议到五次会议，习近平总书记先后30次参加团组审议讨论，面对面听取230多位代表委员发言。统筹推进“五位一体”总体布局、协调推进“四个全面”战略布局、践行新发展理念，内政外交国防、治党治国治军……习近平总书记同代表、委员们倾心交流、共商国是，凝聚共识、擘画未来，带领人民向着“两个一百年”奋斗目标，向着中华民族伟大复兴的中国梦昂首阔步、奋力前行。
		</div>
		
	</div>
</body>
</html>