<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>V-model双向绑定</title>
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
</head>

<body>
    <div class="container" id="app">
        <h3>text类型数据绑定</h3>
        <div class="row">
            <div class="col-md-6">
                <label for="">用户名</label>
                <input type="text" name="name" value="" placeholder="用户名" v-model="user.name">
            </div>
            <div class="col-md-6">
                {{ user.name }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <input type="range" name="age" value="" placeholder="年龄" v-model="user.age">
            </div>
            <div class="col-md-6">
                {{ user.age }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <input type="color" name="" value="" placeholder="" v-model="user.color">
            </div>
            <div class="col-md-6">
                {{ user.color }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <input type="date" name="" value="" placeholder="" v-model="user.birthday">
            </div>
            <div class="col-md-6">
                {{ user.birthday }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <textarea name="" v-model="user.pitch"></textarea>
            </div>
            <div class="col-md-6">
                {{ user.pitch }}
            </div>
        </div>
        <!--    <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6">
                <img :src="user.img" alt="">
            </div>
        </div> -->
        <h3>复选框数据绑定</h3>
        <div class="row">
            <div class="col-md-6">
                <label>
                    <input type="checkbox" name="" value="" v-model="checked"> 记住密码
                </label>
                <br>
                <!-- 如果不指定value值，则默认值为null -->
                <ul class="list-unstyled">
                    <li>
                        <label>
                            <input type="checkbox" name="username" value="Jack" v-model="checkedNames"> Jack
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="checkbox" name="username" value="Jhon" v-model="checkedNames"> Jhon
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="checkbox" name="username" value="Cat" v-model="checkedNames"> Cat
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="checkbox" name="username" v-model="checkedNames"> NoBody
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="checkbox" name="username" v-model="checkedNames"> NoBody2
                        </label>
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <div>
                    记住密码： {{ checked}}
                </div>
                <div>
                    多选： {{ checkedNames }}
                </div>
            </div>
        </div>
        <h3>单选框绑定</h3>
        <div class="row">
            <div class="col-md-6">
                <ul class="list-unstyled">
                    <li>
                        <label>
                            <input type="radio" name="select" value="One" v-model="radio"> One
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="radio" name="select" value="Two" v-model="radio"> Two
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="radio" name="select" value="Three" v-model="radio"> Three
                        </label>
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                已选择：{{ radio }}
            </div>
        </div>
        <h3>select数据绑定</h3>
        <div class="row">
            <div class="col-md-6">
                单选：
                <select name="single" v-model='selectSingle'>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                </select>
            </div>
            <div class="col-md-6">
                已选择：{{ selectSingle }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                多选：
                <select name="single" v-model='selectMutiple' multiple>
                    <option value="A">AX</option>
                    <option value="B">BX</option>
                    <option value="C">CX</option>
                    <option value="D">DX</option>
                </select>
            </div>
            <div class="col-md-6">
                已选择：{{ selectMutiple }}
            </div>
        </div>
    </div>
    <script src="../plugins/jquery-1.11.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="js/vue.min.js"></script>
    <script>
    var app = new Vue({
        el: "#app",
        data: {
            user: {
                name: '张三',
                age: 45,
                color: '#00f',
                birthday: '2017-4-12',
                file: '',
                // img: 'img/3d_axes.png',
                pitch: 'pitch'
            },
            // 复选框绑定
            checked: false,
            checkedNames: [],
            // 单选按钮
            radio: "",
            // 下拉单选
            selectSingle: "",
            selectMutiple: []
        }
    });
    </script>
</body>

</html>
